
# Python files
__pycache__
*.pyc
package-lock.json
build
*.egg-info


# Editor files
*.pydevproject
*.swp

# porthouse temp files
*.log
*.log*
.gs-history

# Sphinx
_build

# No .idea from Pycharm
.idea

# OpenMCT files
node_modules
couchdb
